@import "../../../styles/_baseTheme"

.featuredContent
    width: 100%
    margin: 1rem auto
    max-width: $contentMaxWidth
    // font-family: $font

.customFeaturedContent
    width: 100%
    margin: 1rem auto
    max-width: $contentMaxWidth
    font-family: $font

.sectionTitle,.customSectionTitle
    text-transform: uppercase
    font-style: italic
    letter-spacing: 1px
    line-height: 0.75rem
    padding: 0.5rem 0rem
    white-space: nowrap
    overflow: hidden
    font-weight: 900

    &:after
        overflow: hidden
        width: 100%
        height: 3px
        background: $primary
        content: ""
        vertical-align: middle
        margin-left: 0.75rem
        padding-right: 0.75rem
        display: inline-block

.smallWrapperDiv
    margin: 0rem 0rem 1.5rem 0rem

.wrapperDiv
    margin: 10px 0px

@media only screen and (max-width: 1000px) 
    .sectionTitle,.customSectionTitle
        margin: 1rem 0rem

    .featuredContent,.customFeaturedContent
        width: 97%

@media only screen and (max-width: 620px) 
    .sectionTitle,.customSectionTitle
        margin: 1rem 0rem 0.5rem 0rem
        font-size: 1.25rem
        letter-spacing: 1px
        line-height: $fontSize
        padding: 0.5rem 0rem
        font-weight: 900

        &:after
            height: 2px

    .featuredContent,.customFeaturedContent
        width: 97%

@media only screen and (max-width: 450px)
    .featuredContent
        margin: 0

    .sectionTitle
        display: none
