@import "../../../styles/baseTheme"

.buttonContainer
    // margin: 1rem 0rem
    width: 100%
    display: flex
    flex-direction: column

.buttonContent
    display: flex
    flex-direction: column
    align-items: center
    margin: 0 auto
    width: 100%

.buttonVerticalContainer
    position: fixed
    left: 0
    top: 30%
    width: 6%
    z-index: 50

.indivButton
    border: none
    outline: none
    transition: all 0.15s ease
    align-items: center
    margin: 0.1rem
    border-radius: 4px
    width: 100%
    max-width: 90px
    &:hover
        filter: brightness(120%)

.buttonText
    text-transform: uppercase
    color: #fff
    font-size: 1.1rem
    font-family: $font

.shareCount
    color: #fff
    padding-bottom: 0.3rem
    font-size: 0.7rem

@media only screen and (min-width: 1275px) and (max-width: 1320px)
    .buttonVerticalContainer
        width: 5%
    .buttonText
        font-size: 0.9rem

@media only screen and (min-width: 1256px) and (max-width: 1275px)
    .buttonVerticalContainer
        width: 4%
    .buttonText
        display: none
@media only screen and (min-width: 1000px) and (max-width: 1255px)
    .buttonVerticalContainer
        width: 3%
    .buttonText
        display: none

@media only screen and (max-width: 1218px) 
    .buttonVerticalContainer
        display: none
