@import "../../../styles/baseTheme"

.buttonContainer
    margin: 1rem 0rem
    display: flex
    flex-direction: row
    width: 100%

.buttonContent
    display: flex
    flex-direction: row
    align-items: center
    margin: 0 auto

.buttonText,.buttonShareCount
    text-transform: uppercase
    color: #fff
    font-size: 1.1rem
    font-family: $font

.buttonShareCount
    margin-left: 1rem

.indivButton
    border: none
    outline: none
    transition: all 0.15s ease
    align-items: center
    // margin: 0.1rem
    border-radius: 4px
    padding: 0rem 1rem
    // max-width: 40%
    width: 100%

    &:hover
        filter: brightness(120%)

@media only screen and (max-width: 760px) 
    .buttonContainer
        width: 97%
        margin: 0 auto
        padding: 0.5rem 0rem

    .buttonContent
        display: flex
        flex-direction: column

    .buttonText,.buttonShareCount
        display: none

@media only screen and (max-width: 480px) 
    .buttonContainer
        width: 100%
        margin: 0 auto

    .buttonText
        display: none
