@import "../../../styles/_baseTheme"

.metaWrapper
    margin: 0.5rem 0 rem 1.2rem 0rem

.sectionMeta
    margin: 0px 0px 10px 0px
    padding: 0
    font-size: $fontSize
    line-height: 1.2rem
    font-family: $secondaryFont
    color: grey
    text-transform: capitalize

@media only screen and (max-width: 480px) 
    .metaWrapper
        margin: 0rem

    .sectionMeta
        font-size: $mobileFontSize
        line-height: 1rem
